*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    scroll-behavior: smooth;
    list-style: none;
}

.content-box-lg{
    padding: 180px 0;
}

.content-box-md{
    padding: 150px 0;
}

.content-box-sm{
    padding: 100px 0;
}

.content-box{
    padding: 80px 0;
}

.content{
    padding: 40px 0;
}

.carousel-item {
  height: 90vh;
}

.carousel-image-1 {
  background:  linear-gradient(rgb(0,0,0, .6), rgb(0,0,0, .6)),url('../images/hero_3.jpg');
  background-size: cover;
  background-position: top;
}

.carousel-image-2 {
  background: linear-gradient(rgb(0,0,0, .6), rgb(0,0,0, .6)),url('../images/hero_2.jpg');
  background-size: cover;
}

.font-oswald{
    font-family: 'Oswald';
}

.bg-darks{
    background-color: #222222;
}

.txt-warning{
    color: #FF7C0E;
}

.flex{
    display: flex;
}

.odno{
    background-color: #222222;

}

.Webs{
    background: url('../images/hero_2.jpg');
    background-size: cover;
    height: 700px;
    width: 100%;
}
.sonlar{
    text-align: center;
}
.son{
    font-size: 85px;
    color: #FF8B00;
}
.otish{
    width: 70px;
    border: 2px solid gray;
    padding-left: 20px;
}
.soz{
    font-size: 20px;
    color: white;
}

.olok{
    background-color: #222222;
}

#MAlumot{
    background-color: #222222;
}

.team{
    color: #FF8B00;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
}

.Paragrif{
    color: #939393;
}

.rasm{
    width: 130px;
    border-radius: 50%;
    margin-left: 87px;
}
.o{
    background-color: #333333;
    padding: 20px 20px;
    
}
.ode{
    color: #FF8B00;
    font-family: "Oswald", sans-serif;
    

}

.tri{
    color: #939393;
}

#Ma{
    background-color: #222222;
}
.no{
    color: white;
    font-family: "Oswald", sans-serif;
}
.te{
    color: #939393;
}
.pul{
    font-size: 60px;
    color: #FF8B00;
}
.oo{
    background-color: #333333;
}
.noma{
    color: #939393;
}
.list-unstyled{
    list-style: none;
    padding-left: 20px;
    
    text-align: left;
}

.btn-md{
    padding: 8px 20px;
}
.btn-mdD{
    padding: 8px 20px;
    background-color: #FF8B00;
}

.odes{
    font-size: 20px;
    color: #FF8B00;
    text-align: left;
}
.pard{
    color: #939393;
    text-align: left;
}

.oss{
    font-family:  'Georgia', Times, serif;
    font-size: 20px;
    font-style: italic;
    background-color: #333333;
    padding: 15px 20px;
}
.card-oplo{
    width: 400px;
    text-align: center;
    color: white;
    
    padding: 15px 20px;
}

.rasm-2{
    border-radius: 50%;
    
}

.ismlar{
    font-family: "Oswald", sans-serif;
    color: black;
    font-size: 20px;
}
.fa{
    color: #FF8B00;
}
.ot{
    border-radius: 5px;
    width: 500px;
    height: 400px;
}

.t{
    
    color:  #939393;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    /* letter-spacing: .1em; */
    font-weight: bold;
}
.y{
    color: #FF8B00;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
.s{
    text-decoration: none;
    color: #FF8B00;
    font-family: ;
}
.q{
    color: #939393;
    font-size: 15px;

}
.s:hover{
    text-decoration: none;
    text-transform: none;
    color: #a55b01;
    
    cursor: pointer;
    

}
.a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.a:hover{
    text-decoration: none;
    text-transform: none;
    color: #FF8B00;
    
    cursor: pointer;
    

}
.ooo{
    color: #939393;
}   
.ouu{
    color: #FF8B00;
    font-size: 20px;
}
.ouu:hover{
    text-decoration: none;
    text-transform: none;
    color: #a55b01;
    font-size: 21px;
}

.yyy{
    padding: 15px 10px;
    margin: 20px;
    width: 100%;
    color: #939393;
    background-color: #333333;
    outline: none;
    border-radius: 5px;
    border-bottom: none;
    border: none;
}
.yyy:hover{
    border: 1px solid gray;
}

.ttt{
    padding: 15px 10px;
    margin: 5px 20px;
    width: 100%;
    color: #939393;
    background-color: #333333;
    outline: none;
    border-radius: 5px;
    border-bottom: none;
    border: none;
}
.ttt:hover{
    border: 1px solid gray;
}

.www{
    padding: 15px 10px;
    margin: 10px 20px;
    width: 100%;
    height: 30vh;
    color: #939393;
    background-color: #333333;
    outline: none;
    border-radius: 5px;
    border-bottom: none;
    border: none;
}
.www:hover{
    border: 1px solid gray;
}

button{
    padding: 18px 70px;
    text-align: center;
    margin-left: 170px;
    color: white;
    background-color: #FF8B00;
    border-radius: 3px;
    outline: none;
    border: none;
}
button:hover{
    background-color: #e27d01;
}

.aol{
    margin-left: 130px;
    margin-top: 15px;
    color:  #FF8B00;
    font-size: 30px;
}
.wer{
    margin-left: 130px;
    margin-top: 15px;
    color:  #939393;
    font-size: 17px;
}

.ates{
    padding: 10px 40px;
    text-align: center;
    margin-left: 170px;
    color: white;
    background-color: #FF8B00;
    border-radius: 3px;
    outline: none;
    border: none;
    margin-bottom: 100px;
}
.ates:hover{
    background-color: #e27d01;
}

#odd{
    background-color: #333333;
    
}
.sdf{
   margin-top: 100px;
   margin-left: 50px;
   font-size: 14px;
   color: white;
}
.sdfg{
   margin-top: 5px;
    margin-left: 50px;
    font-size: 15px;
 }
 .sdfw{
    margin-top: 100px;
    /* margin-left: 150px; */
    font-size: 14px;
    color: white;
 }

 .asw{
     padding-top: 30px;
     text-decoration: none;
     color: #939393;
 }
.asw:hover{
    text-decoration: none;
    text-transform: none;
    color: #332e2e;
}

.aaaz{
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 3px 10px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: left;
}
.aaz{
    padding: 3px 0px;
    text-align: center;

    margin-left: 187px;
    color: white;
    background-color: #FF8B00;
    border-radius: 3px;
    outline: none;
    border: none;
}
.aaz:hover{
    background-color: #e27d01;
}

.sdfww{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 14px;
    color: white;
 }

 .sdfww:hover{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 14px;
    color:#332e2e;
    cursor: pointer;
 }


